body {
    font-family: 'Montserrat', sans-serif;
}
h1, h5{
    font-family: 'Montserrat', sans-serif;
    color: #00BCD4;
}

h4{
    font-family: 'Montserrat', sans-serif;
    color: rgb(1, 124, 140);
}


/* Estilos del Navbar*/
.btn.btn-outline-secondary{
    padding: 6px;
    margin-left: 10px;
}
.btn.btn-outline-primary{
    padding: 6px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.navbar{
    justify-content: flex-end;
}
.nav-link{
    margin-left: 10px;
}

