body {
  font-family: 'Montserrat', sans-serif;
}
h1, h5{
  font-family: 'Montserrat', sans-serif;
  color: #00BCD4;
}

/* Estilos del Navbar*/
.btn.btn-outline-secondary{
    padding: 6px;
    margin-left: 10px;
}
.btn.btn-outline-primary{
    padding: 6px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.navbar{
    justify-content: flex-end;
}
.nav-link{
    margin-left: 10px
}


/* Estilos del Título */
#titulo{
    text-align: center;
    margin-top: 50px;
}

/* Estilos de las reseñas */
#nombrecliente{
    margin-top: auto;
}
#descreseña{
    margin-top: 50px;
}

/* Estilos del banner*/
#bienvenida .card {
    border: 0 !important;
    outline: none !important;
    box-shadow: 0 0 0 0 transparent !important;
}
.hero-overlay{
    position: relative;
    overflow: hidden;
    height: 350px;   
    object-fit: cover;
    object-position: center; 
} /* Todo el div de bienvenida */
.card-img{
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
} /* Foto fondo */
.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.55);
    padding: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}  /* Div donde va el logo */
.overlay-logo {
    max-width: 150px;
    height: auto;
} /* Logo */