body {
  font-family: 'Montserrat', sans-serif;
}
h1,h5{
  font-family: 'Montserrat', sans-serif;
  color: #00BCD4;
}

/* Estilos del Navbar*/
.btn.btn-primary{
    background-color: #507DBC;
    margin-right: 3px;
    border-color: #507DBC;
}
.btn.btn-primary:hover{
    background-color: #3a5a87;
    border-color: #3a5a87;
}
.navbar{
    justify-content: flex-end;
    background-color: #E6F5FF;
    margin-bottom: 15px;
}
.btn.btn-secondary{
    background-color: #92DCE5;
    margin-right: 3px;
    border-color: #92DCE5;
}
.btn.btn-secondary:hover{
    background-color: #5a878d;
    border-color: #5a878d;
}
.nav-link{
    margin-left: 10px
}

/* Estilos botón carrito */
#botoncarrito{
    width: 100px;
    align-content: end;
}

#agregarcarr{
    margin-top: 15px;
}

/* Estilos botón regresar*/
.btn{
    background-color: #00BCD4;
    border-color: #00BCD4;
}
.btn:hover{
    background-color: #018596;
    border-color: #018596;
}

/* Estilos de la descripción */
#descripcion{
    margin-top: 10px;
}

#descripciontit{
    margin-left: 15px;
    margin-top: 10px;
}

#series11{
    width: 10;
    height: 20px;
}