body {
  font-family: 'Montserrat', sans-serif;
}
h1,h5{
  font-family: 'Montserrat', sans-serif;
  color: #00BCD4;
}

/* Estilos del Navbar*/
.btn.btn-primary{
    background-color: #507DBC;
    margin-right: 3px;
    border-color: #507DBC;
}
.btn.btn-primary:hover{
    background-color: #3a5a87;
    border-color: #3a5a87;
}
.navbar{
    justify-content: flex-end;
    background-color: #E6F5FF;
}
.btn.btn-secondary{
    background-color: #92DCE5;
    margin-right: 3px;
    border-color: #92DCE5;
}
.btn.btn-secondary:hover{
    background-color: #5a878d;
    border-color: #5a878d;
}
.nav-link{
    margin-left: 10px
}

/* Estilos del Título y su Descripción */
#parrafodesc{
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
#titulo{
    text-align: center;
    margin-top: 25px;
}